.liWrapper {
    padding: 5px;
    cursor: pointer;
    border: 1px solid gainsboro;
}

.liWrapper:hover {
    background-color: gainsboro;
    transition: 0.7s;
}

.active {
    background-color: gainsboro;
}

.titleOfSidebarElement {
    font-size: 20px;
    margin-bottom: 0;
}
.textOfSidebarElement {
    margin-bottom: 0;
}