.sidebarWrapper {
  height: 100vh;
  border: 1px solid gainsboro;
  padding: 5px;
}

.sidebarWrapper ul {
  // width: 200px;
  list-style-type: none;
  // overflow: hidden;
}
// .sidebarWrapper ul {
//   width: 200px;
//   list-style-type: none;
//   overflow: hidden;
// }
